---
---
@import 'vars';
@import 'typography';
@import 'arrow';
@import 'menu';
@import 'menu-highlights';
@import 'main';
@import 'social-media-top';
@import 'footer';
@import 'eu';
@import 'image';
@import 'articles';
@import 'tracks';
@import 'track';
@import 'landing';
@import 'kontakt';
@import 'miip_map';
@import 'see_more';
@import 'modal';
@import 'button';


.homepage {
    background: white url("/images/bg.png") top center no-repeat;
    background-size: 100%;


    header {
        display: none;
    }

    main {

        padding-top: 104px;

        h1 {
            width: 259px;
            height: 138px;
            background: url("/images/skitourowekoscielisko-logo-main.png") no-repeat center center;
            background-size: 100%;
            text-align: center;
            font-size: 0pt;
            margin: auto;
        }

        h4 {
            text-align: center;
        }

	#promo {
            width: 100%;
            height: 300px;
            left: 0;
            margin-left: 0;

            @media (min-width: 560px) {
                width: 560px;
                height: 315px;
                position: relative;
                left: 50%;
                margin-left: -280px;
                margin-bottom: 15px;
            }

	}
    }

    #site-content {
        margin: 24px 40px;
        list-style-type: none;


        li {
            margin-left: 5%;
            margin-bottom: 20px;
        }

        a {
            color: black;
            text-transform: uppercase;
            text-decoration: unset;
            font-size: 10pt;

            &:hover {
                cursor: inherit;
            }
        }

        p {
            font-size: 6pt;
        }

        @media (min-width: 560px) {
            margin: 0 5%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 800px) {
            position: absolute;
            top: 33px;
            grid-template-columns: repeat(4, 1fr);

            li {
            }
        }

    }


    #coming-soon {
        margin-top: 32px;
        margin-bottom: 44px;
        text-align: center;

        h4 {
            margin-bottom: 7px;
        }

        time {
            color: #e50b3b;
            font-size: 18pt;
        }
    }

}
