---
---
@import 'vars';
@import 'typography';
@import 'mixins';


footer {
    text-align: center;

    .bar {
        background-color: #dadada;
        font-size: 7pt;
        padding: 24px 43px;
        margin-bottom: 0px;
    }
}

.clear {
    clear: both;
}

body {

    font-size: 10pt;
    background: white url("/assets/images/bg.png") top center no-repeat;
    background-size: 100%;
}

.homepage {


    header {
        display: none;
    }

    main {

        padding-top: 104px;

        h1 {
            width: 259px;
            height: 138px;
            background: url("/assets/images/skitourowekoscielisko-logo-main.png") no-repeat center center;
            background-size: 100%;
            text-align: center;
            font-size: 0pt;
            margin: auto;
        }

        h4 {
            text-align: center;
        }

	#promo {
            width: 560px;
            height: 315px;
	    position: relative;
	    left: 50%;
	    margin-left: -280px;
            margin-bottom: 15px;

            @media screen and (max-width: 560px) {
                width: 100%;
                height: 300px;
                left: 0;
                margin-left: 0;
            }

	}
    }

    #site-content {
        margin: 0px 40px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        position: absolute;
        top: 33px;

        @media screen and (max-width: 800px) {
            position: initial;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 5%;

            li {
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 560px) {
            display: initial;

            li {
                margin-left: 5%;
            }
        }


        a {
            color: black;
            text-transform: uppercase;
            text-decoration: unset;
            font-size: 10pt;

            &:hover {
                cursor: inherit;
            }
        }

        p {
            font-size: 6pt;
        }
    }


    #coming-soon {
        margin-top: 32px;
        margin-bottom: 44px;
        text-align: center;
        
        h4 {
            margin-bottom: 7px;
        }

        time {
            color: #e50b3b;
            font-size: 18pt;
        }
    }

}
