---
title: Poznaj skiturowe oblicze Tatr
layout: landing
---
<article>
  <header>
    <h1 id="logo">Skitourowe Kościelisko</h1>
  </header>
  <aside id="check">
    <h3 id="check-header">
      <a href="/trasy/" title="Sprawdź opisane trasy">
        Sprawdź opisane trasy
      </a>
    </h3>
    <strong>
      8 wycieczek narciarskich o różnym stopniu trudności rozpoczynających się na
      terenie Kościeliska.
    </strong>
    <p>
      Każda dokładnie opisana, sfotografowana i sfilmowana.
      Oto czym jest projekt Skitourowe Kościelisko będący kontynuacją strony
      Skitourowe Zakopane.
    </p>
  </aside>
  <section class="articles tracks">
    <div class="controls">
      <h2>Ostatnio dodane trasy</h2>
      <a class="arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
        Zobacz wszystkie trasy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.trasy %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <div class="clear"></div>
    <a class="button arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
      Zobacz wszystkie trasy <i></i>
    </a>
  </section>
  <section class="weather">
    <h3>Informacje pogodowe</h3>
    <ul>
      <li class="topr">
      <script type="text/javascript" src="//lawiny.topr.pl/getwidget"></script>
      </li>
      <li class="pogodynka">
      <div id="ep-widget-custom-6dni-container" data-widget="pogoda-6dni" data-widget-box="300,355" data-widget-city="zakopane" data-widget-colors="fffffffff,171717,171717">
	<a id="ep-widget-link" href="http://www.ekologia.pl/pogoda/polska/malopolskie/zakopane" target="_blank" title="Ekologia.pl - długoterminowa prognoza pogody - Zakopane">Ekologia.pl - pogoda Zakopane</a>
      </div>
      <script type="text/javascript">
	(function(d, t, i) {
	  if (d.getElementById(i)) return;
	  var f = d.getElementsByTagName(t)[0], js = d.createElement(t);
	  js.id = i; js.src = "//www.ekologia.pl/pogoda/widget/widget.js";
	  js.onload = function(){showEpCustomWidget(i + "-container")};
	  f.parentNode.appendChild(js);

	}(document, "script", "ep-widget-custom-6dni"));
      </script>
      </li>
      <li class="meteo">
<iframe src="https://www.meteoblue.com/pl/pogoda/widget/daily/ko%c5%9bcielisko_polska_3095140?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 268px;height: 364px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/pl/pogoda/prognoza/tydzie%C5%84/ko%c5%9bcielisko_polska_3095140?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank">meteoblue</a></div>
      </li>
    </ul>
  </section>
  <div class="clear">
  <section class="articles">
    <div class="controls">
      <h2>Ostatnie newsy</h2>
      <a class="arrow-link" href="/news/" title="Newsy">
        Zobacz wszystkie newsy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.posts limit:8 %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <br class="clear">
    <a class="button arrow-link" href="/news/" title="Newsy">Zobacz wszystkie newsy<i></i></a>
  </section>
</article>
