---
title: Poznaj skiturowe oblicze Tatr
layout: landing
---
<article>
  <header>
    <h1 id="logo">Skitourowe Kościelisko</h1>
  </header>
  <aside id="check">
    <h3 id="check-header">
      <a href="/trasy/" title="Sprawdź opisane trasy">
        Sprawdź opisane trasy
      </a>
    </h3>
    <strong>
      8 wycieczek narciarskich o różnym stopniu trudności rozpoczynających się na
      terenie Kościeliska.
    </strong>
    <p>
      Każda dokładnie opisana, sfotografowana i sfilmowana.
      Oto czym jest projekt Skitourowe Kościelisko będący kontynuacją strony
      Skitourowe Zakopane.
    </p>
  </aside>
  <section class="articles tracks">
    <div class="controls">
      <h2>Ostatnio dodane trasy</h2>
      <a class="arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
        Zobacz wszystkie trasy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.trasy %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <div class="clear"></div>
    <a class="button arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
      Zobacz wszystkie trasy <i></i>
    </a>
  </section>
  <section class="weather">
    <h3>Informacje pogodowe</h3>
    <ul>
      <li class="topr">
      <script type="text/javascript" src="//lawiny.topr.pl/getwidget"></script>
      </li>
      <li class="pogodynka">
	<!-- Gismeteo informer START -->
	<link rel="stylesheet" type="text/css" href="https://wst1.gismeteo.pl/assets/flat-ui/legacy/css/informer.min.css">

	<div id="gsInformerID-bp7ipjqOHLjs8I" class="gsInformer" style="width:209px;height:294px">
	    <div class="gsIContent">
		<div id="cityLink">
		    <a href="https://www.gismeteo.pl/weather-zakopane-3217/" target="_blank" title="Pogoda w Zakopanem"><img src="https://wst1.gismeteo.pl/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Pogoda w Zakopanem"></a>
		</div>
		<div class="gsLinks">
		    <table>
			<tr>
			    <td>
				<div class="leftCol">
				    <a href="https://www.gismeteo.pl/" target="_blank" title="Pogoda w Zakopanem">
					<img alt="Pogoda w Zakopanem" src="https://wst1.gismeteo.pl/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
					<img src="https://wst1.gismeteo.pl/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
				    </a>
				    </div>
				    <div class="rightCol">
					<a href="https://www.gismeteo.pl/weather-zakopane-3217/2-weeks/" target="_blank" title="Pogoda w Zakopanem na 2 tygodnie">
					    <img src="https://wst1.gismeteo.pl/assets/flat-ui/img/informer/forecast-2weeks.pl.svg" border="0" align="middle" style="top:auto" alt="Pogoda w Zakopanem na 2 tygodnie">
					</a>
				    </div>
						    </td>
			</tr>
		    </table>
		</div>
	    </div>
	</div>

	<script async src="https://www.gismeteo.pl/api/informer/getinformer/?hash=bp7ipjqOHLjs8I"></script>
	<!-- Gismeteo informer END -->
      </li>
      <li class="meteo">
<iframe src="https://www.meteoblue.com/pl/pogoda/widget/daily/ko%c5%9bcielisko_polska_3095140?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 268px;height: 364px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/pl/pogoda/prognoza/tydzie%C5%84/ko%c5%9bcielisko_polska_3095140?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank">meteoblue</a></div>
      </li>
    </ul>
  </section>
  <div class="clear">
  <section class="articles">
    <div class="controls">
      <h2>Ostatnie newsy</h2>
      <a class="arrow-link" href="/news/" title="Newsy">
        Zobacz wszystkie newsy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.posts limit:8 %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <br class="clear">
    <a class="button arrow-link" href="/news/" title="Newsy">Zobacz wszystkie newsy<i></i></a>
  </section>
</article>
