---
title: Poznaj skiturowe oblicze Tatr
layout: landing
---
<article>
  <header>
    <h1 id="logo">Skitourowe Kościelisko</h1>
  </header>
  <aside id="check">
    <h3 id="check-header">
      <a href="/trasy/" title="Sprawdź opisane trasy">
        Sprawdź opisane trasy
      </a>
    </h3>
    <strong>
      8 wycieczek narciarskich o różnym stopniu trudności rozpoczynających się na
      terenie Kościeliska.
    </strong>
    <p>
      Każda dokładnie opisana, sfotografowana i sfilmowana.
      Oto czym jest projekt Skitourowe Kościelisko będący kontynuacją strony
      Skitourowe Zakopane.
    </p>
  </aside>
  <section class="articles tracks">
    <div class="controls">
      <h2>Ostatnio dodane trasy</h2>
      <a class="arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
        Zobacz wszystkie trasy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.trasy %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <div class="clear"></div>
    <a class="button arrow-link" href="/trasy/" title="Trasy skitourowe w rejonie Kościeliska">
      Zobacz wszystkie trasy <i></i>
    </a>
  </section>
  <section class="weather">
    <h3>Informacje pogodowe</h3>
    <ul>
      <li class="topr">
      <script type="text/javascript" src="http://lawiny.topr.pl/getwidget"></script>
      </li>
      <li class="pogodynka">
      <script type="text/javascript" src="http://www.pogodynka.pl/widget/get/zakopane_zakopane/?a1=FAFAFA&amp;a2=505050"></script>
      </li>
      <li class="meteo">
      <iframe frameborder="0" marginwidth="0" marginheight="0" width="100%" height="330" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=3&city_id=3095140"></iframe>
      </li>
    </ul>
  </section>
  <section class="articles">
    <div class="controls">
      <h2>Ostatnie newsy</h2>
      <a class="arrow-link" href="/news/" title="Newsy">
        Zobacz wszystkie newsy
        <i></i>
      </a>
    </div>
    <div class="list">
      {% for post in site.posts limit:8 %}
        {%include item-post.html %}
      {% endfor %}
    </div>
    <br class="clear">
    <a class="button arrow-link" href="/news/" title="Newsy">Zobacz wszystkie newsy<i></i></a>
  </section>
</article>
