<div class="eu-info">
  <div class="eu-logos">
    <img src="/images/eu/eu.jpg">
    <img src="/images/eu/leader.jpg">
    <img src="/images/eu/podhalanska.jpg">
    <img src="/images/eu/prow.jpg">
  </div>

  <p class="eu">
  Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich:
  Europa inwestująca w obszary wiejskie, Instytucja Zarządzająca
  PROW 2014-2020 &mdash; Minister Rolnictwa i Rozwoju Wsi.
  Projekt "Skitourowe Kościelisko" &mdash; edukacja i promocja w zakresie
  turystyki skitourowej w Gminie Kościelisko" realizowany przez Lokalną
  Organizację Turystyczną Gminy Kościelisko współfinansowany jest ze środków
  Unii Europejskiej w ramach działania Wsparcie dla rozwoju lokalnego w ramach
  inicjatywy LEADER PROW 2014-2020.
  </p>
</div>
