  <div class="precaution">
    <h2>Pamiętaj</h2>
    <div class="text">
      <strong>Skitouring to sport niebezpieczny, może prowadzić do kontuzji,
        a w ekstremalnych przypadkach nawet do śmierci.</strong>
      <em>Staraliśmy się przygotować przedstawione materiały w sposób jak
        najdokładniejszy i tym samym z z zachowaniem zasad obowiązujących w
        górach, jedak nie bierzemy odpowiedzialności za ewentualne wypadki.</em>
    </div>
  </div>
  <div class="logo-footer"></div>

  <div class="social-media">
    <ul>
      <li><a href="#" title="Facebook"><img src="/images/fb-footer.png" alt="Facebook"/></a></li>
      <li><a href="#" title="YouTube"><img src="/images/yt-footer.png" alt="YouTube"/></a></li>
      <li><a href="#" title="Instagram"><img src="/images/insta-footer.png" alt="Instagram"/></a></li>
    </ul>
  </div>
  <div class="clear"></div>

  <div class="partners">
    <div class="main">
      <h5>Beneficjent</h5>
      <a href="http://www.gminakoscielisko.pl/pl/dla-turysty" title="Gmina Kościelisko"><img  alt="Gmina Kościelisko" src="/images/partners/koscielisko.png"></a>
    </div>
    <div class="others">
      <h5>Partnerzy</h5>
      <ul>
        <li><a href="http://www.voelkl.pl/" title="Völkl"><img src="/images/partners/volkl.jpg" alt="Völkl" /></a></li>
        <li><a href="http://www.topr.pl/" title="TOPR"><img src="/images/partners/topr.jpg" alt="TOPR" /></a></li>
        <li><a href="https://www.facebook.com/SalewaMountainShopZakopane/?fref=ts" title="Salewa Mountain Shop Zakopane"><img src="/images/partners/polarsport.jpg" alt="Polar Sport" /></a></li>
        <li><a href="https://www.ortovox.com/us/" title="Ortovox"><img src="/images/partners/ortovox.png" alt="Ortovox" /></a></li>
        <li><a href="https://www.pieps.com/pl" title="Pieps"><img src="/images/partners/pieps.png" alt="Pieps" /></a></li>
        <li><a href="http://www.blackdiamondequipment.com/" title="Black Diamond Equipment"><img src="/images/partners/black-diamond.png" alt="Black Diamond Equipment" /></a></li>
        <li><a href="https://craft.pl/" title="Craft"><img src="/images/partners/craft.jpg" alt="Craft" /></a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

  <div class="copyright">
    <p class="center">
    <a href="http://skitourowekoscielisko.pl/" title="Skitourowe Kościelisko">skitourowekoscielisko.pl</a>
    </p>
    <p class="left">
    Copyright
    <a href="http://skitourowekoscielisko.pl/" title="Skitourowe Kościelisko">Skitourowe Kościelisko</a>
    2019
    </p>
    <p class="right">
    Design by
    <a href="http://www.pxds.pl/" title="Pixel Design Studio">Pixel Design Studio</a>
    </p>

  </div>
<div class="clear"></div>
{% include eu.html %}
