<nav id="menu" role="navigation">
  <div id="menu-toggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul>
      <li class="home"><a href="/">Strona główna</a></li>
      <li class="tracks"><a href="/trasy/">Trasy</a></li>
      <li class="news"><a href="/news/">Newsy</a></li>
      <li class="news"><a href="http://www.gminakoscielisko.pl/pl/dla-turysty/noclegi" target="_blank">Noclegi</a></li>
      <li class="contact"><a href="/kontakt/">Kontakt</a></li>
    </ul>
  </div>
</nav>
