<footer>
  <h4>Projekt tworzony przez</h4>
  <p class="links">
    <a href="http://www.gminakoscielisko.pl/pl/dla-turysty" title="Gmina Kościelisko"><img  alt="Gmina Kościelisko" src="/assets/images/gminakoscielisko-small.png"></a>
    <a href="http://skitourowezakopane.pl/" title="Skitourowe Zakopane"><img alt="Skitourowe Zakopane" src="/assets/images/skitourowezakopane-small.png"></a>
  </p>
  <p class="bar">
  Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich:
  Europa inwestująca w obszary wiejskie, Instytucja Zarządzająca
  PROW 2014-2020 &mdash; Minister Rolnictwa i Rozwoju Wsi.
  Projekt "Skitourowe Kościelisko" &mdash; edukacja i promocja w zakresie
  turystyki skitourowej w Gminie Kościelisko" realizowany przez Lokalną
  Organizację Turystyczną Gminy Kościelisko współfinansowany jest ze środków
  Unii Europejskiej w ramach działania Wsparcie dla rozwoju lokalnego w ramach
  inicjatywy LEADER PROW 2014-2020.
  </p>
</footer>

