<div class="social-media-top">
  <h2>Social media</h2>
  <span class="separator"></span>
  <ul>
    <li><a href="https://www.facebook.com/skitourowekoscielisko/" title="Facebook"><img class="icon" src="/images/fb-top.png" alt="Facebook"/></a></li>
    <li><a href="https://www.youtube.com/channel/UC90s_AtZqC0RFFW_uOyl62g" title="YouTube"><img class="icon" src="/images/yt-top.png" alt="YouTube"/></a></li>
    <li><a href="https://www.instagram.com/skitourowe_koscielisko/" title="Instagram"><img class="icon" src="/images/insta-top.png" alt="Instagram"/></a></li>
  </ul>
</div>
