.topr .readmore,
.arrow-link {
    transition: all 0.4s;
    position: relative;

    i {
        position: absolute;
        &:after {
            font-style: initial;
            content: ">";
        }
        transition: all 0.4s;
    }

    &:hover {
        i {
            transform: translate(80%, 0);
        }
    }

}

.topr .readmore {
    &:after {
        content: " >";
    }
    &:hover {
        padding-right: 7px;
    }
}
