/* Rules for article collection page */
section.articles {
    --tilt: 60px;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 0;
    border: 0;
    vertical-align: baseline;

    width: 100%;

    section {
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        width: calc(100% - var(--tilt));
        margin: 0 0 16px 0;

        @mixin box-tilt {
            display: block;
            margin: 0 calc(var(--tilt) * -1) 0 33px;
            background-color: $bg-color;
            padding: 0px 20px 24px 32px;
        }


        h4 {
            font-size: 14pt;
            line-height: initial;
            margin-bottom: -100px;
            a {
                color: $default-color;
                img {
                    position: relative;
                    z-index: 101;
                }
                span {
                    position: relative;
                    top: -100px;
                    z-index: 100;
                    @include box-tilt();
                    padding-top: 124px;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $menu-bg-color;
                    }

                }
            }
        }

        .arrow-link {
            @include box-tilt();
            text-transform: uppercase;
        }

        span {
            padding-top: 8px;
            display: inline-block;
            margin: 11px 15px 24px 15px
        }

        img:hover {
            filter: brightness(105%);
        }
    }
    @include min-width(788px) {
        --tilt: 15px;
        width: calc(100% - 2 * var(--tilt));
        margin: 0 15px;
        section {
            width: calc(50% - 2* var(--tilt));
            &:nth-child(2n) {
                margin-left: calc(2 * var(--tilt));
            }
            h4 {
                a {
                    span {
                        padding-top: 125px;
                        margin: 0 calc(var(--tilt) * -1) 0 16px;
                    }
                }
            }
            .arrow-link {
                margin: 0 calc(var(--tilt) * -1) 0 16px;
            }
        }
    }
}

/* Rules for single article */
article {
    p:first-child {
        font-size: 13pt;
    }

    .highlight {
        background-color: transparent;
        color: $menu-bg-color;
        font-weight: bold;
    }

    .info {
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        vertical-align: baseline;
        background-color: $bg-darker;
        margin: 0;
        padding: 24px 0;
        width: 100%;

        p {
            font-size: 9pt;
            width: calc(100% - 24px);
            position: relative;
            flex-shrink: 1;
            flex-grow: 1;
            margin: 0 12px 18px;

            .title {
                display: block;
                font-size: 13pt;
                font-weight: 500;
                margin-bottom: 14px;
            }

            @include min-width($medium-width) {
                width: calc(50% - 24px);
            }

            @include min-width($large-width) {
                width: calc(33% - 48px);
                margin: 0 24px 18px;
            }
        }

        @include min-width($medium-width) {
            padding: 24px 12px;
            margin: 0 -14px;
        }

        @include min-width($large-width) {
            margin: 18px 0 18px 0;
            padding: 46px 0px 46px 0px;
        }
    }

}
