footer {
    text-align: center;
    background-color: white;

    .precaution {
        margin-bottom: -16px;
        background-color: white;

        @media (min-width: $medium-width) {
            margin-bottom: -45px;
        }
        h2 {
            font-size: 64px;
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            margin: 0;
            padding: 0;

            @media (min-width: 350px) {
                font-size: 70px;
            }

            @media (min-width: 470px) {
                font-size: 76px;
            }

            @media (min-width: 565px) {
                font-size: 100px;
            }

            @media (min-width: $medium-width) {
                font-size: 146px;
            }
        }

        .text {
            background: transparent url("/images/giewont-sm.png") bottom center no-repeat;
            position: relative;
            background-position-y: -234px;
            top: -114px;
            margin-bottom: -114px;
            padding: 119px 32px 22px;

            strong, em {
                font-size: 8pt;
                display: block;
                margin: 0 auto 18px;
                max-width: 400px;

                @media (min-width: $medium-width) {
                    font-size: 10pt;
                    max-width: 500px;
                }
            }

            @media (min-width: 565px) {
                background-image: url(/images/giewont-md.png);
                background-position-y: -193px;
                top: -150px;
                margin-bottom: -150px;
                padding: 135px 32px 180px;
                strong, em {
                    font-size: 10pt;
                }
            }

            @media (min-width: $tablet-portrait) {
                padding: 150px 60px;
                background-image: url("/images/giewont-md.png");
                background-size: auto;
            }

            @media (min-width: $tablet-landscape) {
                padding: 200px 0px;
                background-image: url("/images/giewont.png");
                background-position-y: -250px;
                top: -226px;
                margin-bottom: -186px;
                strong, em {
                    font-size: 12pt;
                }
            }

        }
    }

    .logo-footer {
        background: transparent url("/images/logo-footer.png") top center no-repeat;
        width: 140px;
        height: 74px;
        margin: 42px auto 70px;

        @media (min-width: 565px) {
            position: relative;
            top: -205px;
            margin-bottom: -120px;
        }

        @media (min-width: $tablet-portrait) {
            top: -185px;
        }

        @media (min-width: $tablet-landscape) {
            top: -245px;
        }
    }

    .social-media {
        position: relative;
        display: block;
        clear: both;
        height: 45px;
        float: left;
        width: 100%;
        border-bottom: 2px solid grey;
        margin: 0 0 50px;

        ul {
            clear: left;
            float: left;
            padding: 0;
            margin: 0 auto;
            text-align: center;
            list-style-type: none;

            li {
                display: block;
                float: left;
                padding: 24px 12px 12px;
                background-color: $bg-color;

            }
            @media (min-width: 353px) {
                position: absolute;
                width: 353px;
                margin: 0;
                margin-left: calc(353px / -2);
                left: 50%;
                li {
                    padding: 24px 34px 12px;
                }
            }

            @media (min-width: $medium-width) {
                width: 497px;
                margin-left: calc(497px / -2);
                li {
                    padding: 24px 58px 12px;
                }
            }

            @media (min-width: $large-width) {
                width: 617px;
                margin-left: calc(617px / -2);
                li {
                    padding: 24px 78px 12px;
                }

            }
        }
    }

    .menu {
        display: none;

        @media (min-width: $tablet-landscape) {
            display: initial;
        }
        ul {
            margin: 28px 0 36px;
        }
        li {
            list-style-type: none;
            display: inline;
            padding: 0 10px;

            a,
            a:visited {
                font-size: 11pt;
                font-weight: initial !important;
                color: $menu-bg-color-alt;
                text-transform: lowercase;
            }
        }
    }

    .partners {
        margin: 24px 12px;
        text-align: center;
        width: calc(100% - 24px);

        @media (min-width: $large-width) {
            width: $large-width;
            margin: 24px auto;
        }

        h5 {
            margin: 24px auto 24px;
            @media (min-width: $medium-width) {
                margin-top: 0;
            }
        }

        .main {
            img {
                height: 65px;
            }
            @media (min-width: $medium-width) {
                margin-right: 32px;
                img {
                    height: 90px;
                }
            }
        }

        ul {
            list-style: none;


            li {
                display: inline;
                img {
                    padding: 12px 0px 12px 24px;
                }
            }
        }
    }

    .copyright {
        width: 100%;

        a {
            color: $default-color;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                color: $default-color;
            }
        }

        p {
            font-size: 9pt;
            display: inline;
            float: left;
            margin: 0 12px 16px;
            border-width: 0;

            &.center {
                position: relative;
                width: calc(100% - 24px);
                display: inline-block;
                text-align: center;

                a {
                    text-transform: none;
                }

                @media (min-width: $medium-width) {
                    top: calc(9pt + 17px);
                }
            }

            &.left {
                width: calc(50% - 24px);
                text-align: left;
            }
            &.right {
                width: calc(50% - 24px);
                text-align: right;
            }
        }
    }

}
