.hscroll {
    $radius: 32px;
    width: $radius !important;
    height: $radius !important;
    display: inline-block !important;
    font-weight: bold !important;
    font-size: 15pt !important;
    border-radius: 50% !important;
    margin-right: 12px !important;
    line-height: $radius !important;
    text-align: center !important;
    color: $menu-bg-color;
    background-color: $bg-color;
    &:hover {
        text-decoration: none !important;
        color: $bg-color !important;
        background-color: $menu-bg-color;
    }
}
