.landing {
    background-image: none;
    background-repeat: no-repeat;
    background-color: $menu-bg-color-alt;


    header {
        background-color: transparent;
        background-image: none;
    }

    main {
        padding: 0;
        margin: 0;
    }

    article {
        --section-margin: 35px;

        header {
            padding: 48px 0;
            margin: 0;

            h1 {
                display: block;
                margin: 0 auto 12px;
                width: 210px;
                height: 52px;
                background: transparent url(/images/logo-xs.png) center 0 no-repeat border-box;
                font-size: 0;
                float: none;

            }

            @include min-width(350px) {
                padding: 94px 0 320px;

                h1 {
                    background-image: url(/images/logo-sm.png);
                    width: 320px;
                    height: 80px;
                }
            }

            @include min-width(640px) {
                h1 {
                    background-image: url(/images/logo-lg.png);
                    width: 518px;
                    height: 129px;
                }

            }

            span {
                display: inline-block;
                width: 15em;
                position: relative;
                left: 50%;
                margin-left: -7.5em;
                text-align: center;
                color: $bg-color;
                font-size: 12pt;
                @include min-width(350px) {
                    background-color: #134373;
                }

                @include min-width($medium-width) {
                    font-size: 14pt;
                }

                @include min-width($large-width) {
                    font-size: 16pt;
                }
            }
        }

        .controls {
            h2 {
                display: block;
                color: $menu-bg-color;
                width: 100%;
                margin: 24px 0;
                @include min-width(350px) {
                    margin-top: 60px;
                }
            }

            a {
                display: none;
            }

            @include min-width($large-width) {
                margin-left: calc(var(--section-margin) * 3);
                h2 {
                    margin-bottom: 12px;
                }

                a {
                    display: block;
                    margin-bottom: 18px;
                    text-transform: uppercase;
                    font-size: 8pt;
                }
            }
        }

        .articles {
            background: #f5f5f5 url("/images/gory.png") no-repeat top center;
            position: relative;
            padding: 0 0 0 var(--section-margin);
            margin: 42px 0;
            width: calc(100% - var(--section-margin));

            @include min-width(789px) {
                margin-top: 0;
            }

            .list {
                display: inline;
                float: left;
                width: calc(100% - var(--section-margin));
                section {
                    display: none;
                    float: left;
                    margin: 24px var(--section-margin) 24px 0;
                    width: calc(100% - var(--section-margin));

                    h4 {
                        margin: 0;
                    }

                    &:first-child {
                        display: inline-block;
                    }

                    @include min-width(640px) {
                        width: calc(50% - var(--section-margin));
                        &:nth-child(2) {
                            display: inline-block;
                        }
                    }

                    @include min-width($large-width) {
                        width: calc(33% - var(--section-margin));
                        margin-right: 0;
                        margin-left: var(--section-margin);
                        position: relative;
                        right: -10px;
                        &:nth-child(3) {
                            display: inline-block;
                            img {
                                filter: grayscale(100%) contrast(50%) brightness(150%);
                            }

                            &:hover {
                                img {
                                    filter: grayscale(0%) brightness(105%);
                                }
                            }

                            span {
                                margin-right: 0;
                            }
                        }
                    }

                }

                @include min-width($large-width) {
                    width: 100%;
                    margin-right: 0;
                    padding-left: calc(2 * var(--section-margin));
                }
            }

            .more-articles {
                --font-size: 29pt;
                position: relative;
                display: inline;
                a {
                    position: absolute;
                    font-size: var(--font-size);
                    font-weight: bold;
                    height: var(--font-size);
                    top: calc(50% - var(--font-size));
                    &:hover {
                        text-decoration: none;
                    }
                }

                @include min-width($large-width) {
                    position: absolute;
                    z-index: 102;
                    width: var(--font-size);
                    right: 0px;
                    bottom: 241px;
                }
            }


            .button {
                margin-left: calc(var(--section-margin) * -1);

                @include min-width($large-width) {
                    display: none;
                }
            }
        }

        .weather {
            background-color: $bg-color;
            margin-top: 24px;
            ul {
                list-style: none;
                li {
                    margin: 0 auto;
                }
                .topr {
                    width: 224px;
                    p {
                        font-size: 10pt;
                    }
                }
                .meteo,
                .pogodynka {
                    width: 200px;
                }

                @include min-width(680px) {
                    width: 660px;
                    margin: 0 auto;
                    li {
                        float: left;
                        margin: 0 12px 0 0;
                    }
                }
            }
        }
    }
}
// Setup paddings and backgrounds for standard resolutions

@include min-width(350px) {
    .landing {
        // Image height is 880px
        background-image: url(/images/landing-bg-sm.png);
        background-color: $bg-color;
        article {
            header {
                padding-top: 158px;
                padding-bottom: 514px;
            }
        }

    }
}

@include min-width(576px) {
    .landing {
        // Image height is 613px
        background-image: url(/images/landing-bg-1280.jpg);
        article {
            header {
                padding-top: 86px;
                padding-bottom: 319px;
            }
        }

    }
}

@include min-width($medium-width) {
    .landing {
        article {
            header {
                padding-bottom: 289px;
            }
        }
    }
}

@include min-width(1024px) {
    .landing {
        main {
            width: 100%;
        }
    }
}

@include min-width(1281px) {
    .landing {
        // Image height is 654px
        background-image: url(/images/landing-bg-1366.jpg);
        article {
            header {
                padding-top: 86px;
                padding-bottom: 295px;
            }
        }
    }
}


