.landing {
    margin-left: 0;
    $check-side-margin: 65px;
    background-image: none;
    background-repeat: no-repeat;
    background-color: $menu-bg-color-alt;


    header {
        background-color: transparent;
        background-image: none;
        height: initial;
        .eu-info {
            display: block;
            margin: 20px 0px;
        }
        #menu {
            #menu-toggle {
                input:checked ~ ul {
                    top: -199px;
                }
                input:checked ~ span {
                    display: none;
                }
            }
        }
        .menu-bar {
            background-color: $menu-bg-color-alt;
            background-clip: content-box;
            h1 {
                margin-left: 25px;
            }
            #menu-toggle {
                margin-right: 25px;
            }
        }
    }

    #check-header {
        display: none;
        position: absolute;
        top: -80px;
        right: $check-side-margin;
        z-index: 1001;
        display: block;
        width: 152px;
        height: 152px;
        font-weight: bold;
        font-size: 14pt;
        background-color: $menu-bg-color;
        transition: all 0.15s ease-in 0s;
        &:hover {
            transform: scale(1.04, 1.04);
        }
        &:after {
            content: ">";
            color: $bg-color;
            font-size: 25pt;
            position: relative;
            bottom: 104px;
            left: 173px;
        }
        a:visited,
        a {
            display: block;
            color: $bg-color !important;
            position: relative;
            padding: 50px 12px;
        }
    }

    #check {
        color: $bg-color;
        background: $menu-bg-color-alt repeat url(/images/main-bg.png);
        position: relative;
        padding: 170px $check-side-margin 120px;

        strong {
            font-size: 15pt;
            line-height: 1.3em;
        }

        p {
            font-size: 12pt;
            margin: 30px 0 0;
            line-height: 1.3em;
        }
    }

    main {
        padding: 0;
        margin: 0;
    }

    article {

        header {
            display: none;
            position: relative;
            z-index: 2;
            padding: 0;
            margin: 0;

            h1 {
                display: block;
                margin: 0 auto 12px;
                width: 210px;
                height: 52px;
                background: transparent url(/images/logo-xs.png) center 0 no-repeat border-box;
                font-size: 0;
                float: none;

            }
        }


        .controls {
            h2 {
                display: block;
                color: $menu-bg-color;
                width: 100%;
                margin: 24px 0;
            }

            a {
                display: none;
            }
        }

        section {
            &.articles {
                background: #f5f5f5 url("/images/gory.png") no-repeat top center;
                section {
                    display: none;
                    float: left;
                    &:nth-child(1),
                    &:nth-child(2) {
                        display: block;
                    }
                }

                .button {
                    margin: 70px 0 0;
                }
            }

            &.weather {
                background-color: $bg-color;
                $widget-width: 268px;
                $one-column-width: $widget-width;
                margin-left: auto;
                margin-right: auto;
                width: $one-column-width;
                padding: 42px 0;
                h3 {
                    color: $menu-bg-color;
                    margin-bottom: 20px;
                }
                ul {
                    margin: 0;
                    list-style: none;
                    li {
                        margin: 0 auto 32px;
                    }
                    .pogodynka {
                        display: none;
                    }
                    .topr,
                    .meteo {
                        width: $widget-width;
                    }

                    .topr {
                        .module-title {
                            display: none;
                        }
                        p {
                            font-size: 10pt;
                        }
                    }
                }

                // Two widgets in row
                $horizontal-margin: 65px;
                $two-column-width: $widget-width * 2 + 2 * $horizontal-margin + 30px;

                @media (min-width: $two-column-width) {
                    width: $two-column-width;
                    margin: 0 auto;
                    ul {
                        li {
                            float: left;
                            margin: 0 $horizontal-margin 12px 0;
                        }
                    }
                }
                // Three widgets in row
                $pogodynka-widget-width: 200px;
                $mid-widget-padding: 60px;
                $mid-widget-border-width: 2px;
                $three-column-width: $two-column-width + $pogodynka-widget-width +
                                     2 * $mid-widget-padding + $horizontal-margin +
                                     2 * $mid-widget-border-width;
                @media (min-width: $three-column-width) {
                    width: $three-column-width;
                    li {
                        &.pogodynka {
                            width: $pogodynka-widget-width;
                            display: inline;
                        }
                        &:nth-child(2) {
                            padding: 0 $mid-widget-padding;
                            border-left: $mid-widget-border-width solid gray !important;
                            border-right: $mid-widget-border-width solid gray !important;
                        }
                    }

                }
            }

        }
    }
    @media (min-width: 350px) {
        background-color: $bg-color;
        .menu-bar {
            background: transparent url(/images/landing-bg-sm.png) no-repeat top center;
        }
        #check-header {
            display: block;
        }
        main {
            background: transparent url(/images/landing-bg-sm.png) no-repeat top center;
            background-position-y: -159px;
        }
        article {
            header {
                display: block;
                padding-top: 158px;
                padding-bottom: 471px;
                h1 {
                    background-image: url(/images/logo-sm.png);
                    width: 320px;
                    height: 80px;
                }
                span {
                    background-color: #134373;
                }
            }
            .controls {
                h2 {
                    padding: 0;
                    margin: 60px 0 24px 10px;
                }
            }
        }
    }
    @media (min-width: 455px) {
        main {
            background-position-y: -115px;
        }
    }

    @media (min-width: 500px) {
        article {
            header {
                padding-top: 163px;
                padding-bottom: 483px;
                h1 {
                    background-image: url(/images/logo-500.png);
                    width: 432px;
                    height: 107px;
                }
            }
            section.articles {
                .controls {
                    h2 {
                        font-size: 29pt;
                        padding: 0;
                        margin: 75px -65px 40px 65px;
                    }
                }
            }
        }
    }
    @media (min-width: 577px) {
        background-position-y: 95px;
        .menu-bar,
        main {
            background: transparent url(/images/landing-bg-800.png) no-repeat top left;
        }
        main {
            background-position-y: -115px;
        }
        article {
            header {
                padding-top: 89px;
                padding-bottom: 160px;
            }
        }
        #check-header {
            width: 112px;
            height: 112px;
            font-size: 10pt;
            top: -57px;

            a {
                padding: 36px 10px;
            }
            &::after {
                font-size: 20pt;
                bottom: 78px;
                left: 132px;
            }
        }
    }

    @media (min-width: $tablet-portrait) {
        article {
            section.articles {
                width: 100%;
                margin: 0;

                .controls {
                    h2 {
                        margin-left: 15px;
                        margin-right: 0;
                    }
                }
            }
            .list {
                padding: 0 0 0 15px;
            }
        }
    }

    @media (min-width: $tablet-landscape) {
        #check {
            position: absolute;
            width: 313px;
            top: 470px;
            right: 0;
            padding: 280px 35px 60px;
            h3 {
                right: 90px;
            }
            strong {
                font-size: 13pt;
            }
            p {
                font-size: 11pt;
            }
        }

        .menu-bar,
        main {
            background: transparent url(/images/landing-bg-1280.jpg) no-repeat top left;
        }
        main {
            background-position-y: -77px;
        }
        article {
            header {
                padding-top: 133px;
                padding-bottom: 240px;
                h1 {
                    background-image: url(/images/logo-800.png);
                    width: 610px;
                    height: 151px;
                }
            }
        }
    }

    @media (min-width: $laptop) {
        .menu-bar,
        main {
            background: transparent url(/images/landing-bg-1440.jpg) no-repeat top left;
        }
        main {
            background-position-y: -110px;
        }
        header .menu-bar,
        .social-media-top,
        main {
            margin-right: 67px;
        }

        article {
            header {
                padding-top: 143px;
                padding-bottom: 189px;
                h1 {
                    background-image: url(/images/logo-1440.png);
                    width: 820px;
                    height: 204px;
                }
            }
        }
        main article section.articles {
            width: calc(100% + 67px);
        }
        main article section.weather {
            position: relative;
            left: 67px;
        }
        #check {
            width: 400px;
            padding: 360px 45px 40px;
            h3 {
                right: 220px;
            }
        }
    }

    @media (min-width: $desktop) {
        .menu-bar,
        main {
            background: transparent url(/images/landing-bg-1920.jpg) no-repeat top left;
        }
        main {
            background-position-y: -110px;
        }
        header .menu-bar,
        .social-media-top,
        main {
            margin-right: 90px;
        }
        #check {
            width: 565px;
            top: 520px;
            right: 0;
            padding: 500px 155px 60px 75px;
            h3 {
                right: 390px;
            }
            strong {
                font-size: 15pt;
            }
            p {
                font-size: 13pt;
            }
        }
        #check-header {
            top: -80px;
            display: block;
            width: 152px;
            height: 152px;
            font-weight: bold;
            font-size: 14pt;
            &:after {
                font-size: 25pt;
                position: relative;
                bottom: 104px;
                left: 173px;
            }
            a:visited,
            a {
                display: block;
                position: relative;
                padding: 50px 12px;
            }
        }
        article {
            header {
                padding-top: 246px;
                padding-bottom: 236px;
                h1 {
                    background-image: url(/images/logo-1920.png);
                    width: 1094px;
                    height: 272px;
                }
            }
        }
        main article section.articles {
            width: calc(100% + 90px);
        }
        main article section.weather {
            left: 90px;
        }

    }
}
