html {
    background-color: $bg-color;
}

body {
    background-color: $bg-color;
    background-repeat: no-repeat;
    font-size: 10pt;
}

.clear {
    clear: both;
    display: block;
}

main {
    margin: 0;
    @media (min-width: $tablet-landscape) {
        margin: 0 15px;
    }
    @media (min-width: $laptop) {
        > article {
            margin: 0 auto;
            width: 1152px;
        }
        > h1 {
            width: 1152px;
            margin: 65px auto 32px;
        }
    }
}


