html {
    background-color: $bg-color;
}

body {
    background-color: $bg-color;
    background-repeat: no-repeat;
    font-size: 10pt;
}

.clear {
    clear: both;
    display: block;
}

main {
    margin: 0;
}


