header {
    $height-sm: 211px;
    $hpadding-sm: 25px;
    $topmargin-sm: 30px;

    background-color: white;
    background-size: 205%;
    background-position-y: bottom;
    height: $height-sm;
    margin: 0;
    padding: 0;


    .menu-bar {
        background: $menu-bg-color url(/images/menu-bg.png) center 0 no-repeat border-box;
        height: 159px;
    }

    h1 {
        background: transparent url(/images/logo-header.png) center 0 no-repeat border-box;
        display: inline-block;
        float: left;
        text-indent: -999999px;
        margin: $topmargin-sm 0 0 25px;

        a {
            height: 74px;
            width: 140px;
            display: block;
        }
    }

    #menu {
        position: relative;
        z-index: 2000;
        a {
            text-decoration: none;
            color: $menu-color;
            transition: color 0.3s ease;

            &:hover {
                font-weight: bold;
                color: $menu-bg-color;
            }
        }

    }
    #menu-toggle {
        display: block;
        position: relative;
        float: right;
        margin: 55px 25px 0 0;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;


        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;

            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;

        }

        span {
            display: block;
            position: relative;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            background: $menu-color;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }

        input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $menu-color;

            &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }
        }


        input:checked ~ ul {
            transform: none;
            top: 12px;
        }

        ul {
            $offset: 177px;
            position: fixed;
            top: -$offset;
            left: 0;
            right: 0px;
            width: 100%;
            height: 100%;
            margin: $offset 0 0;
            padding: 55px 0px;


            background: $menu-bg-color-alt;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(0, -100%);

            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

            li {
                margin: 10px 12%;
                font-size: 22px;
            }

        }
    }

    @media (min-width: 470px) {
        background-size: 100%;
    }
    @media (min-width: 455px) {
        .menu-bar {
            height: 115px;
        }
    }
    @media (min-width: $tablet-landscape) {
        height: 165px;
        h1 {
            background-image: url(/images/logo-header-800.png);
            width: 99px;
            height: 52px;
            margin: 17px 20px 4px;
        }
        .menu-bar {
            height: 77px;
        }
        #menu-toggle {
            margin: 25px 25px;
            ul {
                margin-top: 139px;
            }
        }
    }

    @media (min-width: $laptop) {
        height: 185px;
        #menu {
            z-index: 1;
        }
        #menu-toggle {
            position: absolute;
            right: 0;
            padding-right: 40px;
            span,
            input {
                display: none;
            }
            ul {
                background: none;
                position: relative;
                right: 20px;
                top: 0px;
                padding-bottom: 110px;
                margin-top: 150px;

                li {
                    display: inline-block;
                    font-size: 12pt;
                    margin: 10px 20px;

                }

            }
            a {
                text-transform: uppercase;
            }

            a:hover {
                font-weight: bold;
                color: $menu-color;
                text-decoration: underline;
            }
        }
        .menu-bar {
            height: 110px;
        }
        h1 {
            background: transparent url(/images/logo-header.png) center 0 no-repeat border-box;
            height: 74px;
            width: 140px;
            a {
                height: 74px;
                width: 140px;
            }
        }
    }
    @media (min-width: $desktop) {
        .menu-bar {
            background-size: 100%;
        }
    }
}

.news {
    header {
        .menu-bar {
            background: $menu-bg-color url(/images/menu-bg-news.png) center 0 no-repeat border-box;
            background-size: 205%;
            @media (min-width: 407px) {
                background-size: 100%;
            }
        }
    }
}
