.see-more {
    font-size: 11pt;
    font-weight: bold;
    color: $menu-bg-color !important;
    text-align: center;
    vertical-align: center;

    a {
        color: $menu-bg-color !important;
        &:hover {
            text-decoration: none;
        }
    }

    .bracket {
        font-size: 17pt;
        top: 4pt;
        position: relative;
        padding: 0 9pt;
    }

    @include min-width(437px) {
        font-size: 16pt;
        .bracket {
            font-size: 37pt;
            top: 8pt;
        }

    }
}
