.see-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt;
    font-weight: bold;
    color: $menu-bg-color !important;
    text-align: center;
    transition: all 0.3s ease-in 0.1s;

    a {
        color: $menu-bg-color !important;
        &:hover {
            text-decoration: none;
        }
    }

    .bracket {
        font-size: 17pt;
        top: 4pt;
        position: relative;
        padding: 0 9pt;
    }

    &:hover {
        //transform: scale(1.1, 1.1);
        .bracket {
            padding: 0 14pt;
        }
    }

    @include min-width(437px) {
        font-size: 16pt;
        .bracket {
            font-size: 37pt;
            top: 8pt;
        }
    }
}
