.tracks {
    main {
        margin-top: 20px;
        @media (min-width: $tablet-landscape) {
            margin-top: 40px;
        }
    }
    section:not(.heading) > h2 {
            text-align: center;
            font-weight: bold;
            font-style: italic;
            margin: 32px auto;

    }
    .stats {
        li {
            display: block;
            float: left;
            width: 100%;

            &:last-child {
                padding-bottom: 24px;
                width: 100%;
                clear: left;
            }
            @media (min-width: 640px) {
                width: 50%;
            }
            @media (min-width: $medium-width) {
                width: 33%;
            }
        }


        @media (min-width: $large-width) {
        }
    }
}
