.track {
    section:not(.heading) > h2 {
            text-align: center;
            font-weight: bold;
            font-style: italic;
            margin: 32px auto;

    }
    .stats {
        li {
            display: block;
            float: left;
            width: 100%;

            &:last-child {
                padding-bottom: 24px;
                width: 100%;
                clear: left;
            }
            @include min-width(640px) {
                width: 50%;
            }
            @include min-width($medium-width) {
                width: 33%;
            }
        }


        @include min-width($large-width) {
        }
    }

    .video {
        padding: 32px 0 48px;
        margin: 24px auto;
        background: $bg-color url(/images/layout-trasa/video-bg-sm.png) center 0 no-repeat border-box;

        @include min-width(574px) {
            background-image: url(/images/layout-trasa/video-bg-md.png);
        }

        @include min-width($large-width) {
            background-image: url(/images/layout-trasa/video-bg-lg.png);
        }

        iframe {
            width: 100%;
            border: 0px none;
            display: block;
            margin: 0 auto;

            @include min-width(450px) {
                width: calc(100% - 12px);
            }

            @include min-width($medium-width) {
                width: calc(100% - 68px);
            }

            @include min-width($large-width) {
                width: calc(100% - 96px);
            }
        }
    }
}
