body {

    font-family: 'Raleway', sans-serif;
    color: $default-color;
}

h1 {
    text-transform: uppercase;
    font-size: 30pt;
    margin: 50px 75px 45px;
    @media (min-width: $tablet-portrait) {
        margin-left: 15px;
    }
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 13pt;
}

h1,h2,h3,h4 {
    a {
        color: $default-color !important;
    }
}

a:visited,
a {
    color: $menu-bg-color;
    &:hover {
        color: $menu-bg-color;
    }
}

article {
    font-size: 10pt;
}
@media (min-width: $medium-width) {
    article {
        font-size: 12pt;
    }
    p {
        line-height: 1.5rem;
    }

    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 26pt;
    }

    h3 {
        font-size: 18pt;
    }

    h4 {
        font-size: 15pt;
    }
}

@media (min-width: $large-width) {
    p {
        font-size: 14pt;
        line-height: 1.75rem;
    }

    h1 {
        font-size: 34pt;
    }

    h2 {
        font-size: 28pt;
    }

    h3 {
        font-size: 20pt;
    }

    h4 {
        font-size: 17pt;
    }
}
