/* Color definitions */
$default-color: #1e2837;
$bg-color: #fff;
$bg-dim-color: #f8faf9;
$menu-color: #fff;
$menu-bg-color: #e50b3b;
$menu-bg-color-alt: #1a2634;
$bg-darker: #e7e7e7;


/* Screen width breakpoints */
$medium-width: 800px;
$large-width: 1024px;

