---
layout: default
bodyclass: tracks
---

<article class="track">
  <section class="heading">
    <span class="image modal left">
      <a href="{{ page.image }}"><img src="{{ page.image }}" /></a>
    </span>
    <h2>{{ page.title }}</h2>
    {% include tour-summary.html %}
    {{ page.excerpt }}
    <div class="clear"></div>
  </section>

  <section class="map">
    <h2>Mapa trasy</h2>
    <ul class="stats">
      <li>Maksymalne nachylenie
          <span class="highlight">{{  page.nachylenie  }}</span></li>
      <li>Długość zjazdu
          <span class="highlight">{{  page.dlugosc_trasy  }}</span></li>
      <li>Najlepsze warunki
          <span class="highlight">{{  page.najlepsze_warunki  }}</span></li>
      <li>Przewyższenie
          <span class="highlight">{{  page.przewyzszenie  }}</span></li>
      <li>Czas podejścia
          <span class="highlight">{{  page.czas_podejscia  }}</span></li>
      <li>Długość podejścia
          <span class="highlight">{{  page.dlugosc_podejscia  }}</span></li>
      <li>Czas zjazdu
          <span class="highlight">{{  page.czas_zjazdu  }}</span></li>
      <li>Zagrożenia
          <span class="highlight">{{  page.zagrozenia  }}</span></li>
    </ul>
    <div class="miip-map clear">
      <iframe src="{{  page.mapa }}" scrolling="no" frameborder="0"></iframe>
    </div>
  </section>
  <section class="video">
    <h2>Video przewodnik</h2>
    <iframe src="https://youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
  </section>

  <section class="description">
    {{ page.content | remove: page.excerpt }}
  </section>
</article>

<script type="text/javascript" src="/assets/js/modal.js"></script>
<script type="text/javascript">
  function onWindowResize() {
    var iframe = document.querySelector('.video iframe');
    var height;
    if (iframe) {
      height = parseInt(iframe.clientWidth / 1.78);
      iframe.setAttribute('style', `height: ${height}px`);
    }
  }
  onWindowResize();
  window.onresize = onWindowResize;
</script>
